@model IEnumerable<duybao.data.Entities.Category>

<h2 class="text-primary">DANH SÁCH DANH M?C (D? LI?U M?U)</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th> <th>Tęn danh m?c</th> <th>Mô t?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>